
RecordEdits

Define BetaDistribution { BetaDistributionOperator2  BetaDistributionSelfCheckout1  BetaDistributionSelfCheckout2 }
Define DiscreteDistribution { DiscreteDistributionCustomer }
Define ExponentialDistribution { ArrivalDistribution }
Define NormalDistribution { NormalDistributionOperator1 }
Define Branch { CheckOut }
Define EntityGenerator { CustomerArrivals }
Define EntityProcessor { OperatorAssistedMachine1  OperatorAssistedMachine2  SelfCheckOutMachine1  SelfCheckOutMachine2 }
Define EntitySink { Exit }
Define Queue { OperatorAssistedQueue  SelfCheckOutQueue }
Define SimEntity { Entrance }
Define Resource { OperatorResource1  OperatorResource2  SelfCheckOutResource3  SelfCheckOutResource4 }
Define ColladaModel { Axis  Grid100x100 }
Define DisplayEntity { XY-Grid  XYZ-Axis }
Define OverlayClock { Clock }
Define OverlayText { Title }
Define Text { Text1  Text2  Text3  Text4  Text5 }
Define View { View1 }

BetaDistributionOperator2 UnitType { TimeUnit }
BetaDistributionSelfCheckout1 UnitType { TimeUnit }
BetaDistributionSelfCheckout2 UnitType { TimeUnit }
DiscreteDistributionCustomer UnitType { DimensionlessUnit }
ArrivalDistribution UnitType { TimeUnit }
NormalDistributionOperator1 UnitType { TimeUnit }

Simulation Description { 'Simulation run control inputs' }
Simulation RunDuration { 8  h }
Simulation RunOutputList { { [OperatorAssistedMachine1].Utilisation } { [OperatorAssistedMachine2].Utilisation } { [SelfCheckOutMachine1].Utilisation } { [SelfCheckOutMachine2].Utilisation } }
Simulation NumberOfReplications { 10 }

# *** BetaDistribution ***

BetaDistributionOperator2 RandomSeed { 2 }
BetaDistributionOperator2 MinValue { 0.73  s }
BetaDistributionOperator2 MaxValue { 529.14  s }

BetaDistributionSelfCheckout1 RandomSeed { 3 }
BetaDistributionSelfCheckout1 MinValue { 0.59  s }
BetaDistributionSelfCheckout1 MaxValue { 590.37  s }

BetaDistributionSelfCheckout2 RandomSeed { 4 }
BetaDistributionSelfCheckout2 MinValue { 0.86  s }
BetaDistributionSelfCheckout2 MaxValue { 553.40  s }

# *** DiscreteDistribution ***

DiscreteDistributionCustomer RandomSeed { 5 }
DiscreteDistributionCustomer ValueList { 1  2 }
DiscreteDistributionCustomer ProbabilityList { 0.7  0.3 }

# *** ExponentialDistribution ***

ArrivalDistribution RandomSeed { 6 }
ArrivalDistribution MinValue { 0.0  s }
ArrivalDistribution MaxValue { 257.04  s }

# *** NormalDistribution ***

NormalDistributionOperator1 RandomSeed { 7 }
NormalDistributionOperator1 MinValue { 0.60  s }
NormalDistributionOperator1 MaxValue { 328.23  s }

# *** Branch ***

CheckOut NextComponentList { SelfCheckOutQueue  OperatorAssistedQueue }
CheckOut Choice { DiscreteDistributionCustomer }

# *** EntityGenerator ***

CustomerArrivals NextComponent { CheckOut }
CustomerArrivals InterArrivalTime { ArrivalDistribution }
CustomerArrivals PrototypeEntity { Entrance }

# *** EntityProcessor ***

OperatorAssistedMachine1 NextComponent { Exit }
OperatorAssistedMachine1 WaitQueue { OperatorAssistedQueue }
OperatorAssistedMachine1 ResourceList { OperatorResource1 }
OperatorAssistedMachine1 ServiceTime { NormalDistributionOperator1 }

OperatorAssistedMachine2 NextComponent { Exit }
OperatorAssistedMachine2 WaitQueue { OperatorAssistedQueue }
OperatorAssistedMachine2 ResourceList { OperatorResource2 }
OperatorAssistedMachine2 ServiceTime { BetaDistributionOperator2 }

SelfCheckOutMachine1 NextComponent { Exit }
SelfCheckOutMachine1 WaitQueue { SelfCheckOutQueue }
SelfCheckOutMachine1 ResourceList { SelfCheckOutResource3 }
SelfCheckOutMachine1 ServiceTime { BetaDistributionSelfCheckout1 }

SelfCheckOutMachine2 NextComponent { Exit }
SelfCheckOutMachine2 WaitQueue { SelfCheckOutQueue }
SelfCheckOutMachine2 ResourceList { SelfCheckOutResource4 }
SelfCheckOutMachine2 ServiceTime { BetaDistributionSelfCheckout2 }

# *** Queue ***

OperatorAssistedQueue RenegeCondition { 'this.QueuePosition > 5' }
OperatorAssistedQueue RenegeDestination { SelfCheckOutQueue }

# *** Resource ***

OperatorResource1 Capacity { 1 }

OperatorResource2 Capacity { 1 }

SelfCheckOutResource3 Capacity { 1 }

SelfCheckOutResource4 Capacity { 1 }

# *** GRAPHICS INPUTS ***

Simulation RealTime { TRUE }
Simulation SnapToGrid { TRUE }
Simulation RealTimeFactor { 262144 }
Simulation ShowLabels { TRUE }
Simulation ShowSubModels { TRUE }
Simulation ShowReferences { TRUE }
Simulation ShowEntityFlow { TRUE }
Simulation ShowModelBuilder { TRUE }
Simulation ShowObjectSelector { TRUE }
Simulation ShowInputEditor { TRUE }
Simulation ShowOutputViewer { TRUE }
Simulation ShowPropertyViewer { FALSE }
Simulation ShowLogViewer { TRUE }

BetaDistributionOperator2 Position { 2.3  5.4  0.0  m }

BetaDistributionSelfCheckout1 Position { 2.9  1.4  0.0  m }

BetaDistributionSelfCheckout2 Position { 2.7  -2.0  0.0  m }

DiscreteDistributionCustomer Position { -1.8  5.1  0.0  m }

ArrivalDistribution Position { -4.3  6.4  0.0  m }

NormalDistributionOperator1 Position { 2.0  7.7  0.0  m }

CheckOut Position { -1.5  1.5  0.0  m }

CustomerArrivals Position { -4.9  1.5  0.0  m }

OperatorAssistedMachine1 Position { 6.5  6.1  0.0  m }

OperatorAssistedMachine2 Position { 6.4  3.3  0.0  m }

SelfCheckOutMachine1 Position { 6.6  0.5  0.0  m }

SelfCheckOutMachine2 Position { 6.4  -2.0  0.0  m }

Exit Position { 13.9  2.1  0.0  m }

OperatorAssistedQueue Position { 1.5  3.7  0.0  m }

SelfCheckOutQueue Position { 1.5  -0.1  0.0  m }

Entrance Position { -7.7  1.5  0.0  m }
Entrance Alignment { 0.0  0.0  -0.5 }

OperatorResource1 Position { 10.4  6.2  0.0  m }

OperatorResource2 Position { 12.7  4.6  0.0  m }

SelfCheckOutResource3 Position { 12.4  -0.3  0.0  m }

SelfCheckOutResource4 Position { 10.2  -1.9  0.0  m }

# *** ColladaModel ***

Axis ColladaFile { <res>/shapes/axis_text.dae }

Grid100x100 ColladaFile { <res>/shapes/grid100x100.dae }

# *** DisplayEntity ***

XY-Grid Description { 'Grid for the X-Y plane (100 m x 100 m)' }
XY-Grid Size { 100  100  m }
XY-Grid DisplayModel { Grid100x100 }
XY-Grid Show { FALSE }
XY-Grid Movable { FALSE }

XYZ-Axis Description { 'Unit vectors' }
XYZ-Axis Alignment { -0.4393409  -0.4410096  -0.4394292 }
XYZ-Axis Size { 1.125000  1.1568242  1.1266404  m }
XYZ-Axis DisplayModel { Axis }
XYZ-Axis Show { FALSE }
XYZ-Axis Movable { FALSE }

# *** OverlayClock ***

Clock Description { 'Simulation date and time' }
Clock ScreenPosition { 15  15 }
Clock AlignBottom { TRUE }
Clock TextHeight { 10 }
Clock FontColour { gray20 }
Clock FontStyle { ITALIC }
Clock DateFormat { 'yyyy-MMM-dd HH:mm:ss.SSS' }

# *** OverlayText ***

Title Description { 'Title for the simulation model' }
Title ScreenPosition { 15  15 }
Title Format { 'Publix Model' }
Title TextHeight { 18 }
Title FontColour { 150  23  46 }
Title FontStyle { BOLD }

# *** Text ***

Text1 Position { 6.9  6.9  0.0  m }
Text1 Size { 1.5  0.6  1.0  m }
Text1 Format { 'Utilization = %.2f' }
Text1 DataSource { [OperatorAssistedMachine1].Utilisation }

Text2 Position { 1.7  5.2  0.0  m }
Text2 Size { 1.5  0.6  1.0  m }

Text3 Position { 6.9  1.6  0.0  m }
Text3 Size { 0.0  0.6  1.0  m }
Text3 Format { 'Utilization = %.2f' }
Text3 DataSource { [SelfCheckOutMachine1].Utilisation }

Text4 Position { 6.6  -0.6  0.0  m }
Text4 Size { 1.5  0.6  1.0  m }
Text4 Format { 'Utilization = %.2f' }
Text4 DataSource { [SelfCheckOutMachine2].Utilisation }

Text5 Position { 6.9  4.2  0.0  m }
Text5 Size { 1.5  0.6  1.0  m }
Text5 Format { 'Utilization = %.2f' }
Text5 DataSource { [OperatorAssistedMachine2].Utilisation }

# *** View ***

View1 Description { 'Default view window' }
View1 ViewCenter { 5.848876  2.141617  2.536516  m }
View1 ViewPosition { 5.848876  2.141617  27.901674  m }
View1 ShowWindow { TRUE }
View1 Lock2D { TRUE }
View1 SkyboxImage { <res>/images/sky_map_2048x1024.jpg }
